__pycache__/
.vscode
data/
loogging/
resnet9.pth
multirun/
outputs/
pretrained_models/
saved_models/
spectral_analysis/
trained_model_archive/
trained_model_archive_pre_AIDA_meeting/
validation_results/
visuals/